/* =========================================
   AUTH PAGE
========================================= */

.auth-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#eef2f7;
}

.auth-card{
    width:400px;
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.auth-title{
    text-align:center;
    margin-bottom:20px;
    font-weight:bold;
}

.auth-input{
    margin-bottom:15px;
}