/* =========================================
   CARDS
========================================= */

.card-custom{
    border:none;
    border-radius:15px;
    overflow:hidden;
    transition:0.3s;
}

.card-custom:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card-header-custom{
    background:#0d6efd;
    color:#fff;
    padding:15px;
    font-weight:bold;
}